@tailwind base;
@tailwind components;
@tailwind utilities;

.motionnav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: white;
}

.toggler {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__ul,
.nav__li {
  margin: 0;
  padding: 0;
}

.nav__ul {
  padding: 25px;
  position: absolute;
  top: 80px;
  width: 230px;
}

.nav__li {
  list-style: none;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
